sol-bot/n8n_gdelt_alert_workflow.json
{
  "id": "TBMpoIQVSxsuxZqi",
  "name": "GDELT Escalation Alert",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Build Keyword Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const KEYWORDS = ['Iran Hormuz','BRICS','NATO','China Taiwan','oil price','Federal Reserve'];\nreturn KEYWORDS.map(kw => ({ json: { keyword: kw } }));"
      }
    },
    {
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Fetch GDELT Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.gdeltproject.org/api/v2/doc/doc?query=' + encodeURIComponent($json.keyword) + '&mode=artlist&maxrecords=10&timespan=30min&format=json' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Fetch Baseline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8502/api/n8n/gdelt-baseline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Basic ' + $env.SOL_DASHBOARD_BASIC_AUTH }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Spike Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "// keyword from the original keyword items\nconst keyword = $('Build Keyword Items').item.json.keyword;\n\n// GDELT response from 2 nodes back\nconst gdelt = $('Fetch GDELT Articles').item.json;\nconst currentCount = (gdelt && Array.isArray(gdelt.articles)) ? gdelt.articles.length : 0;\nconst topHeadline = (gdelt?.articles?.[0]?.title || gdelt?.articles?.[0]?.url || '');\n\n// Baseline from previous node ($json)\nconst baseline = $input.first().json || {};\nconst entry = baseline[keyword] || { count: 0, last_alert: null };\nconst baselineCount = entry.count;\nconst lastAlert = entry.last_alert;\n\n// Spike calculation\nlet spikePercent = 0;\nif (baselineCount > 0) {\n  spikePercent = ((currentCount - baselineCount) / baselineCount) * 100;\n} else if (currentCount > 3) {\n  spikePercent = 300;\n}\n\n// Cooldown: 2 hours\nconst COOLDOWN_MS = 2 * 60 * 60 * 1000;\nconst inCooldown = lastAlert\n  ? (Date.now() - new Date(lastAlert).getTime()) < COOLDOWN_MS\n  : false;\n\nconst shouldAlert = spikePercent > 200 && !inCooldown;\n\nreturn [{\n  json: { keyword, currentCount, baselineCount, spikePercent: Math.round(spikePercent), inCooldown, shouldAlert, topHeadline }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Check Spike Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-should-alert",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0008-0008-0008-000000000008",
      "name": "Send GDELT Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 180],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '🚨 <b>GDELT Escalation Alert</b>\\n\\nKeyword: <b>' + $json.keyword + '</b>\\nArticles (30min): <b>' + $json.currentCount + '</b>\\nBaseline: ' + $json.baselineCount + '\\nSpike: <b>+' + $json.spikePercent + '%</b>' + ($json.topHeadline ? '\\n\\n' + $json.topHeadline : '') + '\\n\\n→ Consider publishing on this topic', parse_mode: 'HTML' }) }}",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0009-0009-0009-000000000009",
      "name": "Update Baseline With Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 180],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8502/api/n8n/gdelt-baseline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Basic ' + $env.SOL_DASHBOARD_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ keyword: $json.keyword, count: $json.currentCount, set_alert: true }) }}",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0010-0010-0010-000000000010",
      "name": "Update Baseline Count Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 420],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8502/api/n8n/gdelt-baseline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Basic ' + $env.SOL_DASHBOARD_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ keyword: $json.keyword, count: $json.currentCount, set_alert: false }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Build Keyword Items", "type": "main", "index": 0 }]
      ]
    },
    "Build Keyword Items": {
      "main": [
        [{ "node": "Fetch GDELT Articles", "type": "main", "index": 0 }]
      ]
    },
    "Fetch GDELT Articles": {
      "main": [
        [{ "node": "Fetch Baseline", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Baseline": {
      "main": [
        [{ "node": "Spike Detection", "type": "main", "index": 0 }]
      ]
    },
    "Spike Detection": {
      "main": [
        [{ "node": "Check Spike Threshold", "type": "main", "index": 0 }]
      ]
    },
    "Check Spike Threshold": {
      "main": [
        [{ "node": "Send GDELT Alert", "type": "main", "index": 0 }],
        [{ "node": "Update Baseline Count Only", "type": "main", "index": 0 }]
      ]
    },
    "Send GDELT Alert": {
      "main": [
        [{ "node": "Update Baseline With Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "3"
}
